<hr>

<div class="dog-list">
  <div><%= link_to image_tag(dog_match.image, alt: dog_match.name), dog_path(dog_match.id) %></div>
  <h2><%= link_to dog_match.name, dog_path(dog_match.id) %></h2>
  <p><%= link_to "Delete", dog_match_path(dog_match.id), method: :delete %><p>
</div>
