<% if params[:favorite] %>
  <h1><%= @dog_matches.count %> Favorites</h1>
<% elsif params[:top_dog] %>
  <h1><%= @dog_matches.count %> Top Dog</h1>
<% else %>
  <h1><%= @dog_matches.count %> Matches</h1>
<% end %>

<hr>
<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
  <%= render partial: "dog", collection: @dogs %>
</ul>
