<div class="random-dog-container">
  <%= image_tag(@random_dog.image, alt: @random_dog.name, class: "random-dog") %>
</div>
<%= link_to "Plus", dog_path(id: @random_dog.id), method: :get %>
| <%= link_to "Next", random_dog_path(zip: params[:zip]), method: :get %>
