<div class="info-page row">
  <div class="small-12 medium-4 columns">
    <%= render "shared/card", dog: @dog %>
  </div>
  <div class="description small-12 medium-8 columns">
    <h3>About <%= @dog.name %></h3>
    <p><%= @dog.description %></p>
    <p><%= link_to "Other Dogs in the Area", random_dog_path(zip: session[:zip]), method: :get %></p>
  </div>
</div>

