/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

footer {
  margin: 3em;
}

// Homepage
#banner {
  background-image: image-url('gracie_banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -55px 0 0 0;
  height: 80%;
}

#browse {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-text {
  color: white;
}

.homepage-section {
  padding: 5rem 0;
}

.feature-icon {
  font-size: 5rem;
}

#stats-section {
  background: #333333;
  h2 {
    color: white;
    line-height: 4rem;
  }
}

//

.inline {
  display: inline;
}

.random-dog-container {
  padding: 2rem 0 0 0;
}

.favorite, .remove {
  color: rgba(0, 0, 0, 0.25);
}

.favorite:hover, .remove:hover {
  color: rgba(0, 0, 0, 0.5);
}

i {
  font-size: 110%;
}

.card, .random-dog {
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.card-name {
  margin: -1px 0 0 0;
  background: rgba(0, 0, 0, 0.75);
  padding: 1rem;
}

.card-name h3 {
  color: white;
}

.card-info {
  padding: 1rem 1rem 0 1rem;
}

.card-info p {
  color: rgba(0, 0, 0, 0.75);
}

