<h2>
  <% if params[:favorite] %>
    <%= @dog_matches.count %> Favorites
  <% elsif params[:top_dog] %>
    <%= @dog_matches.count %> Top Dog
  <% else %>
    <%= @dog_matches.count %> Matches
  <% end %>
</h2>

<hr>
<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
  <%= render partial: "dog", collection: @dog_matches.map(&:dog) %>
</ul>
